.container {
    max-width: 1200px;
    max-height: 900px;
    margin-top: 30px;
    overflow: hidden;
    border: 5px solid #f88214; 
}

.container .images {
    width: 100%;
    height: 100%;
}

.images img {
    width: 100%;
    height: 100%;
}

/* Для экранов не больше 768px */
@media (max-width: 768px) {
    .container {
        max-width: 768px;
        max-height: 576px; 
        margin-left:10px;
        margin-right:10px;
    }
}

/* Стили для ширины экрана 425px */
@media (max-width: 425px) {
    .container {
        max-width: 425px;
        max-height: 318px; 
    }
}